exportPattern("^[[:alpha:]]+")
import(rJava)
importFrom("RCurl", "curlPerform")
importFrom("RCurl", "CFILE")
importFrom("utils", "write.table")
importFrom("graphics", "legend", "matplot")
importFrom("utils", "download.file")
